# Validating ICOParser class

## Testing the ICOParser class

In [2]:
import pandas as pd
from ico_parser import ICOParser

### Load table with information about ICOs

In [3]:
ico_table = pd.read_csv('lista_ico_2020-08-17_tab3.csv')#, sep=';')
ico_table.tail()

,ico,adress,fraud,start_date,market_start_date,diff_days,market_days,size_ok,price,market_cap,o_concur,biggest_holder,exchange,contract,date_analysis,code,site,social_media
253,WAX,0x39bb259f66e1c59d5abef88375979b4d20d98022,0,2017-12-19,2017-12-20,1,997,NaN,NaN,157.0,x,30,0,0,2018-06-18,NaN,NaN,NaN
254,WAYKICHAIN,0x4f878c0852722b0976a955d68b376e4cd4ae99e5,0,2018-01-01,2018-01-03,2,983,NaN,NaN,162.0,x,0,0,0,2018-07-02,NaN,NaN,NaN
255,ZILLIQA,0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27,0,2018-01-12,2018-01-24,12,962,NaN,NaN,50.0,x,7,0,1,2018-07-23,NaN,NaN,NaN
256,ZPAY,0xeffea57067e02999fdcd0bb45c0f1071a29472d9,1,2018-07-25,2018-08-20,26,754,x,NaN,NaN,NaN,99,0,0,2019-02-16,NaN,NaN,NaN
257,ZYNECOIN,0xe65ee7c03bbb3c950cfd4895c24989afa233ef01,1,2019-01-21,2019-01-23,2,598,x,NaN,NaN,NaN,15,2,0,2019-07-22,x,x,x

In [4]:
ico_table = ico_table.astype({'start_date': 'datetime64', 'market_start_date': 'datetime64', 'date_analysis':'datetime64'})
ico_table.set_index('ico', inplace=True)
ico_table.dtypes

adress                       object
fraud                         int64
start_date           datetime64[ns]
market_start_date    datetime64[ns]
diff_days                     int64
market_days                   int64
size_ok                      object
price                        object
market_cap                  float64
o_concur                     object
biggest_holder                int64
exchange                      int64
contract                      int64
date_analysis        datetime64[ns]
code                         object
site                         object
social_media                 object
dtype: object

In [5]:
ico_table.head()

,adress,fraud,start_date,market_start_date,diff_days,market_days,size_ok,price,market_cap,o_concur,biggest_holder,exchange,contract,date_analysis,code,site,social_media
ico,,,,,,,,,,,,,,,,,
0X,0xe41d2489571d322189246dafa5ebde1f4699f498,0,2017-08-11,2017-08-15,4,1124,NaN,NaN,45.0,x,2,6,14,2018-02-11,NaN,NaN,NaN
0XCERT,0x83e2be8d114f9661221384b3a50d24b96a5653f5,1,2018-06-26,2018-07-11,15,794,x,NaN,NaN,NaN,12,2,0,2019-01-07,x,x,x
4NEW,0x241ba672574a78a3a604cdd0a94429a73a84a324,1,2018-08-20,2018-08-20,0,754,x,NaN,NaN,NaN,50,7,0,2019-02-16,x,NaN,NaN
ABULABA,0xd938137e6d96c72e4a6085412ada2dad78ff89c4,1,2018-04-19,2018-12-16,241,636,NaN,x,NaN,NaN,13,7,41,2019-06-14,x,NaN,NaN
AELF,0xbf2179859fc6d5bee9bf9158632dc51678a4100e,0,2017-12-18,2017-12-21,3,996,NaN,NaN,154.0,x,13,10,0,2018-06-19,NaN,NaN,NaN

ico_table.to_csv('lista_ico_2020-08-17_tab3.csv', index=False)

In [6]:
path_to_csvs = '../data_and_models/tokens/all_icos/'

### Testing `ICOParser` individually

In [7]:
ico_ = 'BELANCE'
ico_csv= f'{path_to_csvs}{ico_}.csv'
market_start_date = str(ico_table.at[ ico_, 'market_start_date'].date())
is_fraud = ico_table.at[ ico_, 'fraud']

In [8]:
str(ico_table.at[ ico_, 'market_start_date'].date())

'2018-11-09'

In [9]:
ico_parser = ICOParser(ico_csv,
                 date_column='BLOCK_TIMESTAMP',
                 value_column='VALUE',
                 ico_start_date=market_start_date, 
                 fraud_flag=is_fraud)

In [10]:
from ico_parser import _filter_df_for_training_days

In [11]:
ico_parser.df_resample_day

                 NONCE      GAS  RECEIPT_GAS_USED  transactions
BLOCK_TIMESTAMP
2018-10-24       17106  9592732           9355628           177
2018-10-25        3004   606144            590888            12
2018-10-26        2107   529992            529864            10
2018-10-27        8223  1786292           1750036            35
2018-10-28         361   250000             38788             1
...                ...      ...               ...           ...
2019-04-10           0        0                 0             0
2019-04-11           0        0                 0             0
2019-04-12           0        0                 0             0
2019-04-13           0        0                 0             0
2019-04-14         135    52948             37948             1

[173 rows x 4 columns]

In [12]:
ico_parser.ico_start_date

datetime.date(2018, 11, 9)

In [13]:
ico_parser.define_ico_start_date()

In [14]:
ico_parser.df_newbiers

In [15]:
ico_parser.ico_end_date

datetime.date(2019, 1, 8)

In [16]:
ico_parser.pipeline()

Running method: define_ico_start_date ...
Running method: get_newbiers_dataframe ...
Running method: get_balance ...
Running method: get_cumsum_balance ...
Running method: get_cumsum_daily_percentage ...
Running method: get_daily_number_of_new_holder ...
Running method: get_array_daily_transactions ...
Running method: get_array_perc_new_holders ...
Running method: get_biggest_holder_dict ...
Running method: get_biggest_holder_array ...
Running method: get_newbiers_ratio_dict ...

In [17]:
ico_parser.get_newbiers_ratio_dict()

In [19]:
df_newbiers_day = ico_parser.df_newbiers_resample

In [24]:
df_newbiers_day

                 NONCE      GAS  RECEIPT_GAS_USED  transactions
BLOCK_TIMESTAMP
2018-10-24       16759  9342732           9286840           176
2018-10-25        1802   477108            476852             9
2018-10-26        2107   529992            529864            10
2018-10-27        8223  1786292           1750036            35
2018-10-28           0        0                 0             0
...                ...      ...               ...           ...
2019-02-18           0        0                 0             0
2019-02-19           0        0                 0             0
2019-02-20           0        0                 0             0
2019-02-21           0        0                 0             0
2019-02-22           0    52820             52820             1

[122 rows x 4 columns]

In [25]:
df_newbiers_day['GAS_RATIO'] = df_newbiers_day['RECEIPT_GAS_USED'] / df_newbiers_day['GAS']

In [32]:
df_newbiers_day.index = df_newbiers_day.index.astype(str)

In [34]:
df_newbiers_day.GAS_RATIO.to_list()

[0.9940175957096917,
 0.999463433855647,
 0.9997584869205572,
 0.9797032064186595,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.708637227994352,
 nan,
 0.9654577536035881,
 0.9998765029122357,
 0.8824666666666666,
 nan,
 0.9844874659119931,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.9996941502872049,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.0]

In [ ]:
df_newbiers_day

In [20]:
df_newbiers_day

                 NONCE      GAS  RECEIPT_GAS_USED  transactions
BLOCK_TIMESTAMP
2018-10-24       16759  9342732           9286840           176
2018-10-25        1802   477108            476852             9
2018-10-26        2107   529992            529864            10
2018-10-27        8223  1786292           1750036            35
2018-10-28           0        0                 0             0
...                ...      ...               ...           ...
2019-02-18           0        0                 0             0
2019-02-19           0        0                 0             0
2019-02-20           0        0                 0             0
2019-02-21           0        0                 0             0
2019-02-22           0    52820             52820             1

[122 rows x 4 columns]

In [18]:
list(ico_parser.dict_newbiers_ratio.values())

[0.9943502824858758,
 0.75,
 1.0,
 1.0,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.0,
 nan,
 1.0,
 1.0,
 1.0,
 nan,
 1.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.0,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.5,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [16]:
df_newbiers_resample = ico_parser.df_newbiers_resample

In [17]:
df_newbiers_resample.RECEIPT_GAS_USED / df_newbiers_resample.GAS

BLOCK_TIMESTAMP
2018-10-24    0.994018
2018-10-25    0.999463
2018-10-26    0.999758
2018-10-27    0.979703
2018-10-28         NaN
                ...
2019-02-18         NaN
2019-02-19         NaN
2019-02-20         NaN
2019-02-21         NaN
2019-02-22    1.000000
Freq: D, Length: 122, dtype: float64

In [18]:
ico_parser.df_newbiers_resample

                 NONCE      GAS  RECEIPT_GAS_USED  transactions
BLOCK_TIMESTAMP
2018-10-24       16759  9342732           9286840           176
2018-10-25        1802   477108            476852             9
2018-10-26        2107   529992            529864            10
2018-10-27        8223  1786292           1750036            35
2018-10-28           0        0                 0             0
...                ...      ...               ...           ...
2019-02-18           0        0                 0             0
2019-02-19           0        0                 0             0
2019-02-20           0        0                 0             0
2019-02-21           0        0                 0             0
2019-02-22           0    52820             52820             1

[122 rows x 4 columns]

In [19]:
ico_parser.dict_newbiers_ratio

{'2018-10-24': 0.9943502824858758,
 '2018-10-25': 0.75,
 '2018-10-26': 1.0,
 '2018-10-27': 1.0,
 '2018-10-28': 0.0,
 '2018-10-29': nan,
 '2018-10-30': nan,
 '2018-10-31': nan,
 '2018-11-01': nan,
 '2018-11-02': nan,
 '2018-11-03': nan,
 '2018-11-04': nan,
 '2018-11-05': nan,
 '2018-11-06': nan,
 '2018-11-07': 1.0,
 '2018-11-08': nan,
 '2018-11-09': 1.0,
 '2018-11-10': 1.0,
 '2018-11-11': 1.0,
 '2018-11-12': nan,
 '2018-11-13': 1.0,
 '2018-11-14': nan,
 '2018-11-15': nan,
 '2018-11-16': nan,
 '2018-11-17': nan,
 '2018-11-18': nan,
 '2018-11-19': nan,
 '2018-11-20': nan,
 '2018-11-21': nan,
 '2018-11-22': nan,
 '2018-11-23': nan,
 '2018-11-24': nan,
 '2018-11-25': 0.0,
 '2018-11-26': 0.0,
 '2018-11-27': nan,
 '2018-11-28': nan,
 '2018-11-29': nan,
 '2018-11-30': nan,
 '2018-12-01': nan,
 '2018-12-02': nan,
 '2018-12-03': 0.0,
 '2018-12-04': nan,
 '2018-12-05': 0.0,
 '2018-12-06': nan,
 '2018-12-07': nan,
 '2018-12-08': nan,
 '2018-12-09': nan,
 '2018-12-10': nan,
 '2018-12-11': 1.0,
 '2018-12-12': nan,
 '2018-12-13': nan,
 '2018-12-14': nan,
 '2018-12-15': 0.0,
 '2018-12-16': nan,
 '2018-12-17': nan,
 '2018-12-18': nan,
 '2018-12-19': nan,
 '2018-12-20': 0.0,
 '2018-12-21': nan,
 '2018-12-22': nan,
 '2018-12-23': nan,
 '2018-12-24': nan,
 '2018-12-25': nan,
 '2018-12-26': nan,
 '2018-12-27': nan,
 '2018-12-28': nan,
 '2018-12-29': nan,
 '2018-12-30': 0.0,
 '2018-12-31': nan,
 '2019-01-01': nan,
 '2019-01-02': nan,
 '2019-01-03': nan,
 '2019-01-04': nan,
 '2019-01-05': nan,
 '2019-01-06': nan,
 '2019-01-07': 0.0,
 '2019-01-08': nan,
 '2019-01-09': nan,
 '2019-01-10': nan,
 '2019-01-11': nan,
 '2019-01-12': nan,
 '2019-01-13': 0.0,
 '2019-01-14': nan,
 '2019-01-15': nan,
 '2019-01-16': nan,
 '2019-01-17': nan,
 '2019-01-18': 0.0,
 '2019-01-19': nan,
 '2019-01-20': nan,
 '2019-01-21': nan,
 '2019-01-22': nan,
 '2019-01-23': nan,
 '2019-01-24': nan,
 '2019-01-25': nan,
 '2019-01-26': nan,
 '2019-01-27': nan,
 '2019-01-28': nan,
 '2019-01-29': nan,
 '2019-01-30': nan,
 '2019-01-31': nan,
 '2019-02-01': nan,
 '2019-02-02': nan,
 '2019-02-03': nan,
 '2019-02-04': nan,
 '2019-02-05': nan,
 '2019-02-06': nan,
 '2019-02-07': nan,
 '2019-02-08': nan,
 '2019-02-09': nan,
 '2019-02-10': nan,
 '2019-02-11': nan,
 '2019-02-12': nan,
 '2019-02-13': nan,
 '2019-02-14': 0.0,
 '2019-02-15': nan,
 '2019-02-16': nan,
 '2019-02-17': nan,
 '2019-02-18': nan,
 '2019-02-19': nan,
 '2019-02-20': nan,
 '2019-02-21': nan,
 '2019-02-22': 0.5,
 '2019-02-23': nan,
 '2019-02-24': nan,
 '2019-02-25': nan,
 '2019-02-26': nan,
 '2019-02-27': nan,
 '2019-02-28': nan,
 '2019-03-01': nan,
 '2019-03-02': nan,
 '2019-03-03': nan,
 '2019-03-04': nan,
 '2019-03-05': nan,
 '2019-03-06': nan,
 '2019-03-07': nan,
 '2019-03-08': nan,
 '2019-03-09': nan,
 '2019-03-10': nan,
 '2019-03-11': nan,
 '2019-03-12': nan,
 '2019-03-13': nan,
 '2019-03-14': nan,
 '2019-03-15': nan,
 '2019-03-16': nan,
 '2019-03-17': nan,
 '2019-03-18': nan,
 '2019-03-19': nan,
 '2019-03-20': nan,
 '2019-03-21': nan,
 '2019-03-22': nan,
 '2019-03-23': nan,
 '2019-03-24': nan,
 '2019-03-25': nan,
 '2019-03-26': nan,
 '2019-03-27': nan,
 '2019-03-28': nan,
 '2019-03-29': nan,
 '2019-03-30': nan,
 '2019-03-31': nan,
 '2019-04-01': nan,
 '2019-04-02': nan,
 '2019-04-03': nan,
 '2019-04-04': nan,
 '2019-04-05': nan,
 '2019-04-06': nan,
 '2019-04-07': nan,
 '2019-04-08': nan,
 '2019-04-09': nan,
 '2019-04-10': nan,
 '2019-04-11': nan,
 '2019-04-12': nan,
 '2019-04-13': nan,
 '2019-04-14': nan}

In [25]:
df_gas_ratio = ico_parser.df_newbiers_resample / ico_parser.df_resample_day

In [29]:
df_gas_ratio.index = df_gas_ratio.index.astype(str)

In [26]:
ico_parser.df_newbiers.loc[ico_parser.df_newbiers['BLOCK_TIMESTAMP'] == '2018-10-27'].transactions.sum()

35

In [46]:
ico_parser.df_newbiers

,BLOCK_TIMESTAMP,FROM_ADDRESS,TO_ADDRESS,VALUE,TRANSACTION_HASH,NONCE,FROM_ADDRESS_BLOCKCHAIN,TO_ADDRESS_BLOCKCHAIN,GAS,RECEIPT_GAS_USED,transactions
0,2018-10-25,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x2d2929cc9828a14776197c3269dcfd5e97dda1f2,597401699000000000000000,0xb60b6b25dd662d871abf76b240bde527413991421ead...,194,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x7ce31d775ee8ae8058ed7e599e5f14bb1535f223,53012,53012,1
1,2018-10-25,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x1e2fbed8bdc46c0cdeac777c33913d65695d5cca,588857549547699756928397,0x2a100269faaeffbccf9a4bb3f02a57574516eacd2e09...,198,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x7ce31d775ee8ae8058ed7e599e5f14bb1535f223,53076,53076,1
2,2018-10-25,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0xe7c11c8362737193ff921a0c8370ec774b9455c1,568621702150029672880647,0xce3909dc3ddfcfdc3a5ef65b40a2596282aadcaa68e6...,202,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x7ce31d775ee8ae8058ed7e599e5f14bb1535f223,53076,53076,1
3,2018-10-25,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x5ab853d8d1954ff30212c1bf713ca3ecccbe1f3e,560000009917834811534244,0xd5afdcbd8856cfbf860bfbff0cb79d1872a07eebbc07...,204,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x7ce31d775ee8ae8058ed7e599e5f14bb1535f223,53076,53076,1
6,2018-10-25,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x6100b6abaa7b956d797a91ef1722fb1110c6e6c0,595005000000000000000000,0x18bccf0f7a05c36d2163aa701b96cde5d4875b9775f9...,196,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0x7ce31d775ee8ae8058ed7e599e5f14bb1535f223,52884,52884,1
...,...,...,...,...,...,...,...,...,...,...,...
1358,2018-11-10,0xbb530108497bd5007b74443119a8de8f33cc98bf,0x3171e339acdcd011704d8bfec6a11163262b0e0c,99547000000000000000000,0x93bf4bece1d5b8d2be01cadd2e2b4c61e622b7b1d425...,360,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0xbb530108497bd5007b74443119a8de8f33cc98bf,3389325,3389003,1
1359,2018-11-10,0xbb530108497bd5007b74443119a8de8f33cc98bf,0x7709b36ea8b2523966b52b91cb8041d874d24ae8,99387000000000000000000,0x93bf4bece1d5b8d2be01cadd2e2b4c61e622b7b1d425...,360,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0xbb530108497bd5007b74443119a8de8f33cc98bf,3389325,3389003,1
1360,2018-11-10,0xbb530108497bd5007b74443119a8de8f33cc98bf,0xb31eaad83e66c7c16b55e29e59470c69969a5791,99000000000000000000000,0x93bf4bece1d5b8d2be01cadd2e2b4c61e622b7b1d425...,360,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0xbb530108497bd5007b74443119a8de8f33cc98bf,3389325,3389003,1
1361,2018-11-10,0xbb530108497bd5007b74443119a8de8f33cc98bf,0x58040c47f41b68c793d84b7271cb54c28da5297d,99000000000000000000000,0x93bf4bece1d5b8d2be01cadd2e2b4c61e622b7b1d425...,360,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0xbb530108497bd5007b74443119a8de8f33cc98bf,3389325,3389003,1
1362,2018-11-10,0xbb530108497bd5007b74443119a8de8f33cc98bf,0xa602573d924af5ed6b39c1b987dd4357db75db8f,99000000000000000000000,0x93bf4bece1d5b8d2be01cadd2e2b4c61e622b7b1d425...,360,0xecaa10c7fb3b892ba324c0dbd38084f0e068c122,0xbb530108497bd5007b74443119a8de8f33cc98bf,3389325,3389003,1

In [47]:
df_nb = ico_parser.df_newbiers.copy()

In [48]:
df_nb['GAS_RATIO'] = df_nb['RECEIPT_GAS_USED'] / df_nb['GAS']

In [ ]:
ico_parser.df_newbiers

In [55]:
len(ico_parser.array_daily_transactions)

60

In [53]:
len(ico_parser.array_perc_new_holders)

75

In [54]:
len(ico_parser.array_biggest_holder)

75

In [58]:
ico_parser.dict_perc_biggest_holder

{'2018-10-24': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.1911383082318855],
 '2018-10-25': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.1848613717701877],
 '2018-10-26': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.18363337581277994],
 '2018-10-27': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-10-28': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-10-29': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-10-30': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-10-31': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-11-01': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-11-02': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-11-03': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-11-04': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-11-05': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-11-06': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.15311579464590835],
 '2018-11-07': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.1445102771542546],
 '2018-11-08': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.1445102771542546],
 '2018-11-09': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.12258162598238469],
 '2018-11-10': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11797080504785436],
 '2018-11-11': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.1178753756608606],
 '2018-11-12': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.1178753756608606],
 '2018-11-13': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-14': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-15': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-16': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-17': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-18': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-19': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-20': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-21': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-22': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-23': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-24': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-11-25': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-11-26': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-11-27': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-11-28': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-11-29': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-11-30': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-12-01': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-12-02': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-12-03': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-12-04': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086066],
 '2018-12-05': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-12-06': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-12-07': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-12-08': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-12-09': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-12-10': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11787537566086063],
 '2018-12-11': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-12': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-13': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-14': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-15': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-16': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-17': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-18': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-19': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-20': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-21': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-22': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-23': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-24': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-25': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-26': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-27': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-28': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-29': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-30': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2018-12-31': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2019-01-01': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2019-01-02': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2019-01-03': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2019-01-04': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2019-01-05': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878],
 '2019-01-06': ['0xea0f23533b75d7226312ac13dab88164fb4a9f94',
  0.11510681127193878]}

In [57]:
ico_parser.array_biggest_holder

[0.1911383082318855,
 0.1848613717701877,
 0.18363337581277994,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.15311579464590835,
 0.1445102771542546,
 0.1445102771542546,
 0.12258162598238469,
 0.11797080504785436,
 0.1178753756608606,
 0.1178753756608606,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086066,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11787537566086063,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878,
 0.11510681127193878]

# NEWBIERS

# TRANSACTIONS VOLUME

In [29]:
ico_parser.dict_balance.get('2018-10-25')

{'0xecaa10c7fb3b892ba324c0dbd38084f0e068c122': -5.191024960615564e+24,
 '0xea0f23533b75d7226312ac13dab88164fb4a9f94': -4e+24,
 '0xdb8d11e910852d5300b6de8e627b9faca7de5b63': -3.202577699493429e+24,
 '0x8754f7a688c9bdea6d88ee47d735ee5c97b8d927': 5.52449e+23,
 '0x5ab853d8d1954ff30212c1bf713ca3ecccbe1f3e': 5.600000099178348e+23,
 '0xb06e14522ffa12c9f4f86fccc7036c64ec23d824': 5.65813e+23,
 '0xe7c11c8362737193ff921a0c8370ec774b9455c1': 5.686217021500297e+23,
 '0x4f69ec5868a7e7fd2c676f00553e9ec120a16fe8': 5.761e+23,
 '0x48cc1d09f951c28716f2622581524ee512e5f912': 5.86777e+23,
 '0x1e2fbed8bdc46c0cdeac777c33913d65695d5cca': 5.8885754954769975e+23,
 '0x6100b6abaa7b956d797a91ef1722fb1110c6e6c0': 5.95005e+23,
 '0x2d2929cc9828a14776197c3269dcfd5e97dda1f2': 5.97401699e+23,
 '0xe7164a660a44c108de8e11f86340d075b2fe9ef9': 7.202577699493429e+24}

7.953248785333754e+26

In [38]:
ico_parser.df_resample_day.loc[day, 'transactions']

0

In [45]:
ico_parser.dict_balance.get('2018-11-01')

{}

In [36]:
B = ico_parser.df_resample_day.loc['2018-10-25'].transactions / ico_parser.df_resample_day.transactions.sum()

In [37]:
B

0.00880410858400587

In [39]:
daily_volume = sum([val  for val in ico_parser.dict_balance.get('2018-10-25').values() if val > 0])
daily_volume

1.2393602660108994e+25

In [43]:
total_coin_available_day = sum([val  for val in ico_parser.dict_cumsum_balance.get('2018-10-25').values() if val > 0])

In [44]:
A = daily_volume / total_coin_available_day
A

0.015583069252106771

In [45]:
A / B

1.7699769492184607

In [ ]:
dict_transactions_volume[day] = daily_volume / ico_parser.df_resample_day.loc[day, 'transactions']
        A = daily_volume

In [35]:
ico_parser.df_resample_day.loc['2018-10-25'].transactions

12

In [32]:
ico_parser.df_resample_day.transactions.sum()

1363

In [33]:
ico_parser.df_resample_day

                 NONCE      GAS  RECEIPT_GAS_USED  transactions
BLOCK_TIMESTAMP
2018-10-24       17106  9592732           9355628           177
2018-10-25        3004   606144            590888            12
2018-10-26        2107   529992            529864            10
2018-10-27        8223  1786292           1750036            35
2018-10-28         361   250000             38788             1
...                ...      ...               ...           ...
2019-04-10           0        0                 0             0
2019-04-11           0        0                 0             0
2019-04-12           0        0                 0             0
2019-04-13           0        0                 0             0
2019-04-14         135    52948             37948             1

[173 rows x 4 columns]

In [46]:
dict_balance = ico_parser.dict_balance.copy()
dict_transactions_volume = {}
list_sorted_days = sorted(dict_balance.keys())
for day in list_sorted_days:
    if ico_parser.df_resample_day.loc[day, 'transactions'] == 0:
        dict_transactions_volume[day] = 0
    else:        
        daily_volume = sum([val  for val in dict_balance.get(day).values() if val > 0])
        dict_transactions_volume[day] = daily_volume / ico_parser.df_resample_day.loc[day, 'transactions']
        A = daily_volume
        print(day, daily_volume, ico_parser.df_resample_day.loc[day, 'transactions'])

2018-10-24 7.9013385357276e+26 177
2018-10-25 1.2393602660108994e+25 12
2018-10-26 5.318508856802256e+24 10
2018-10-27 1.5957661074028004e+26 35
2018-10-28 1.8187660994e+25 1
2018-11-07 5.718063900000001e+25 33
2018-11-09 1.82003e+26 514
2018-11-10 9.627790300000006e+25 286
2018-11-11 1.008963e+24 1
2018-11-13 29245528.0 200
2018-11-25 1.198e+24 2
2018-11-26 1.4999999999999999e+23 3
2018-12-03 5.516136569054007e+23 1
2018-12-05 1.331488144881572e+24 1
2018-12-11 3.0000000000000005e+25 69
2018-12-15 6e+19 2
2018-12-20 2e+20 2
2018-12-30 1.0172e+22 2

In [40]:
dict_transactions_volume

{'2018-10-24': 4.464033071032542e+24,
 '2018-10-25': 1.0328002216757495e+24,
 '2018-10-26': 5.3185088568022554e+23,
 '2018-10-27': 4.5593317354365726e+24,
 '2018-10-28': 1.8187660994e+25,
 '2018-10-29': 0,
 '2018-10-30': 0,
 '2018-10-31': 0,
 '2018-11-01': 0,
 '2018-11-02': 0,
 '2018-11-03': 0,
 '2018-11-04': 0,
 '2018-11-05': 0,
 '2018-11-06': 0,
 '2018-11-07': 1.7327466363636365e+24,
 '2018-11-08': 0,
 '2018-11-09': 3.5409143968871595e+23,
 '2018-11-10': 3.366360244755247e+23,
 '2018-11-11': 1.008963e+24,
 '2018-11-12': 0,
 '2018-11-13': 146227.64,
 '2018-11-14': 0,
 '2018-11-15': 0,
 '2018-11-16': 0,
 '2018-11-17': 0,
 '2018-11-18': 0,
 '2018-11-19': 0,
 '2018-11-20': 0,
 '2018-11-21': 0,
 '2018-11-22': 0,
 '2018-11-23': 0,
 '2018-11-24': 0,
 '2018-11-25': 5.99e+23,
 '2018-11-26': 5e+22,
 '2018-11-27': 0,
 '2018-11-28': 0,
 '2018-11-29': 0,
 '2018-11-30': 0,
 '2018-12-01': 0,
 '2018-12-02': 0,
 '2018-12-03': 5.516136569054007e+23,
 '2018-12-04': 0,
 '2018-12-05': 1.331488144881572e+24,
 '2018-12-06': 0,
 '2018-12-07': 0,
 '2018-12-08': 0,
 '2018-12-09': 0,
 '2018-12-10': 0,
 '2018-12-11': 4.3478260869565226e+23,
 '2018-12-12': 0,
 '2018-12-13': 0,
 '2018-12-14': 0,
 '2018-12-15': 3e+19,
 '2018-12-16': 0,
 '2018-12-17': 0,
 '2018-12-18': 0,
 '2018-12-19': 0,
 '2018-12-20': 1e+20,
 '2018-12-21': 0,
 '2018-12-22': 0,
 '2018-12-23': 0,
 '2018-12-24': 0,
 '2018-12-25': 0,
 '2018-12-26': 0,
 '2018-12-27': 0,
 '2018-12-28': 0,
 '2018-12-29': 0,
 '2018-12-30': 5.086e+21,
 '2018-12-31': 0,
 '2019-01-01': 0,
 '2019-01-02': 0,
 '2019-01-03': 0,
 '2019-01-04': 0,
 '2019-01-05': 0,
 '2019-01-06': 0}

##  Função de Volume de transações

In [ ]:
dict_cumsum_balance = {}
list_sorted_days = sorted(dict_balance.keys())
for index, day in enumerate(list_sorted_days):
    if index - 1 < 0:
        dict_cumsum_balance[day] = dict_balance.get(day)
    else:
        dict_current_cumsum = _sum_dict_values(dict_cumsum_balance.get(list_sorted_days[index - 1]), dict_balance.get(day))
        dict_cumsum_balance[day] = dict_current_cumsum

In [ ]:
a_dictionary = {"a": 1, "b": 2, "c": 3}

max_key = max(a_dictionary, key=a_dictionary.get)
max_key